.header{
    text-align: center;
    margin: 1.5rem;
    background-color: inherit;

}

h2{
    background-color: inherit;
}

.open-close-bar{
    margin-top: 1rem;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}